.infoModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35vw;
  height: 40vh;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  z-index: 500;
}

.infoModal__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.infoModal__heading {
  margin-top: 5px;
  margin-bottom: 20px;
}

.infoModal__form {
  display: flex;
  flex-direction: column;
}

.infoModal__submit {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
